<style>
    .content {
        height: 50vmin;
        background-color: white;
        margin-left: 15vmin;
        margin-right: 15vmin;
    }

    .content div {
        padding-top: 16vmin;
    }

    .mapImg {
        background: url('/images/wpb.png') center center / cover no-repeat;
        max-width: 80%;
        height: 16vmin;
        margin-left: 35vmin;
    }

    .right {
        padding-top: 10vmin !important;
    }

    .left {
        vertical-align: top;
    }
</style>

<div class="content">
    <div class="left center">
        <p>My approach in wedding photography is to capture the beautiful expression of love, candid moments, and the small details of a wedding.</p>
        <p>My goal is to craft a beautiful, energetic image that evokes feelings. Ultimately, telling a story through my photography.</p>
        <p>I direct and compose each image and I also do documentary photography. </p>
    </div>
    <div class="right center ">
        <div class="mapImg"></div>
    </div>
</div>