<style>
    .head01 {
        background: url('/images/ianjones03.jpg') center center / cover no-repeat;
        height: 75vmin;
        background-color: rgba(0, 0, 0, 0.4);
    }
    
    .head01 h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 10vmin;
        font-weight: 800;
        line-height: 12vmin;
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 15px;
        letter-spacing: 1px;
        color: #ffffff;
    }
    
    .intro_content {
        font-color: #ffffff;
        padding-top: 20vmin;
        padding-bottom: 23vmin;
        margin: auto;
        width: 60%
    }

    .overlay {
        min-height: 90vmin;
    }
    
    .intro_content p {
        font-size: 2vmin;
        color: #ffffff;
        text-transform: none;
    }
</style>
<div class="overlay">
    <div class="intro_content">
        <h2>welcome to ians generic website</h2>
        <p>some text here</p>
    </div>
</div>